/* Write your CSS here */
.para {
  display: flex;
  justify-content: row;

  width: 100%;
}
.para2 {
  margin: 12px;
  border: 0px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
